@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
* {
  font-family: "Zen Dots", cursive;
}

.landingscreen {
  margin-top: 8rem;
}

.landingscreen h1 {
  text-shadow: 0 2rem 2rem #000;
}

.remove-btn {
  opacity: 0;
}

.remove-btn:hover {
  opacity: 1;
}

.black-text h1 {
  color: black;
}

.tooltip {
  z-index: 1151 !important;
}

.button-disabled {
  opacity: 0.8;
}

.hover {
  transition: transform 0.2s;
}

.hover:hover {
  transform: scale(1.2);
}

.pagination-colors {
  color: #000;
}
